# Server Configuration
NODE_ENV=development
PORT=5001

# Database
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/panda-market?retryWrites=true&w=majority

# CORS / Client
CLIENT_URL=http://localhost:5173